<!-- ###TEMPLATE_FORM1### -->
    ###master_multipart-form-start_contact-form###
    ###master_section-start###
    <div id="formhandlerTest"></div>
        ###master_checkbox_receive-copy###
        ###master_ajax-submit###

    ###master_section-end###

    ###master_form-end###
<!-- ###TEMPLATE_FORM1### -->

<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### begin -->
###myCustomMarker### html
<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### end -->


<!-- ###TEMPLATE_EMAIL_USER_PLAIN### begin -->
Ny anm&auml;lan:<br /><br />
###LLL:first_name### : ###value_first_name###<br />
###LLL:last_name### : ###value_last_name###<br />
###LLL:organisation### : ###value_organisation###<br />
###LLL:email###: ###value_email###<br />
###LLL:address###: ###value_address###<br />
###LLL:telephone###: ###value_telephone###<br />
###LLL:comment###: ###value_comment###<br />
<!-- ###TEMPLATE_EMAIL_USER_PLAIN### end -->


<!-- ###TEMPLATE_EMAIL_USER_HTML### begin -->
Ny anm&auml;lan:<br /><br />
###LLL:first_name### : ###value_first_name###<br />
###LLL:last_name### : ###value_last_name###<br />
###LLL:organisation### : ###value_organisation###<br />
###LLL:email###: ###value_email###<br />
###LLL:address###: ###value_address###<br />
###LLL:telephone###: ###value_telephone###<br />
###LLL:comment###: ###value_comment###<br />
<!-- ###TEMPLATE_EMAIL_USER_HTML### end-->

<!-- ###TEMPLATE_SUBMITTEDOK### begin -->
<p>The following message has been sent:</p>
-- ###myCustomMarker### --
<!-- ###TEMPLATE_SUBMITTEDOK### end -->